<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JotPresetMetricsInfos</key>
	<array>
		<dict>
			<key>width</key>
			<real>640</real>
			<key>height</key>
			<real>480</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>800</real>
			<key>height</key>
			<real>600</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>1024</real>
			<key>height</key>
			<real>768</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>1280</real>
			<key>height</key>
			<real>800</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>1680</real>
			<key>height</key>
			<real>1050</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>1920</real>
			<key>height</key>
			<real>1200</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>612</real>
			<key>height</key>
			<real>792</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>U.S. Letter</string>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>612</real>
			<key>height</key>
			<real>1008</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>U.S. Legal</string>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>792</real>
			<key>height</key>
			<real>1224</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>U.S. Tabloid</string>
			<key>group</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>JotRulersVisible</key>
	<true/>
	<key>JotGuidesVisible</key>
	<true/>
	<key>JotGuidesLocked</key>
	<false/>
	<key>JotSnapEnabled</key>
	<true/>
	<key>JotSnapToCompositionBoundsEnabled</key>
	<true/>
	<key>JotSnapToOtherObjectsEnabled</key>
	<true/>
	<key>JotSnapToUserGuidesEnabled</key>
	<true/>
	<key>JotSnapTolerance</key>
	<real>5.0</real>
	
	<key>JotSelectedFontName</key>
	<string>Gill Sans</string>
	<key>JotSelectedFontSize</key>
	<real>24.0</real>

	<key>IDELibraryPanelVisible</key>
	<true/>
	<key>IDEOutlinePanelVisible</key>
	<true/>
	<key>IDEInspectorPanelVisible</key>
	<true/>

	<key>IDETabsViewPlacement</key>
	<integer>5</integer>
	<key>IDELibraryViewPlacement</key>
	<integer>1</integer>
	<key>IDEOutlineViewPlacement</key>
	<integer>9</integer> <!-- IDEViewPlacementOuterRightTopEdge -->
	<key>IDEInspectorViewPlacement</key>
	<integer>10</integer> <!-- IDEViewPlacementOuterRightBottomEdge -->
	<key>IDETimelineViewPlacement</key>
	<integer>11</integer>
	<key>IDELogViewPlacement</key>
	<integer>12</integer>
	<key>inner-IDEUberViewIsLeftViewOpen</key>
	<true/>
	<key>inner-IDEUberViewIsLeftTopViewOpen</key>
	<true/>
	<key>inner-IDEUberViewIsLeftBottomViewOpen</key>
	<false/>
	<key>outer-IDEUberViewIsRightViewOpen</key>
	<true/>
	<key>outer-IDEUberViewIsRightTopViewOpen</key>
	<true/>
	<key>outer-IDEUberViewIsRightBottomViewOpen</key>
	<true/>
	<key>inner-IDEUberViewIsTopViewOpen</key>
	<false/>
	<key>inner-IDEUberViewIsBottomViewOpen</key>
	<false/>
	<key>outer-IDEUberViewIsBottomViewOpen</key>
	<false/>
	<key>fullScreen-IDEUberViewIsTopViewOpen</key>
	<false/>
	<key>fullScreen-IDEUberViewIsBottomViewOpen</key>
	<false/>
	<key>IDEUberViewSplitViewDividerStyle</key>
	<true/>
	<!-- <key>WebIconDatabaseEnabled</key>
	<true/> -->
</dict>
</plist>
